@charset "UTF-8";
@import url("/reset.css");
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  position: relative;
}

.color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  width: 600px;
  height: 250px;
  border-radius: 5px;
}

.color-text {
  margin-bottom: 30px;
  font-size: 80px;
  letter-spacing: 20px;
}

.color-change {
  background-color: transparent;
  border: 1px solid #000;
  font-size: 30px;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.color-change:hover {
  background-color: #000;
  color: #fff;
}

.like {
  margin-right: 50px;
  cursor: pointer;
  font-size: 100px;
}

.count {
  font-size: 100px;
}

.alert {
  position: absolute;
  bottom: 5%;
  padding: 16px 24px;
  background-color: #313131;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  right: -100%;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.animation {
  -webkit-animation: alert 1s linear both;
          animation: alert 1s linear both;
}

@-webkit-keyframes alert {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes alert {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

.right {
  right: 1%;
}

.liked {
  color: #4267b2;
}

.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  top: -100%;
  z-index: 2;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: 200px;
  background-color: #fff;
  position: relative;
  border-radius: 5px;
}

.popup .content .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  position: relative;
}

.popup .content .text:nth-child(1) {
  margin-bottom: 20px;
}

.popup .content .far {
  position: absolute;
  top: 10%;
  right: 5%;
  cursor: pointer;
  font-size: 26px;
  color: #ff0000;
}

.popup .content .sıfırla {
  margin-top: 30px;
  background-color: royalblue;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.popup .content .sıfırla:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.block {
  top: 0;
}
/*# sourceMappingURL=main.css.map */